{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'news_page_css.html' %}

<section class="top_head">
	<div class="container">
    {% if messages %}
          {% for message in messages %}
          <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
              </button>
              {{ message }}
            </div>
          </div>
          {% endfor %}
        {% endif %}
    	<div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="mobi_center">
                	<ul>
                    	<li><a>Username: {{user.username}} | Email: {{user.email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: right;">
            	<div class="mobi_center">
                	<ul>
                    	<li><a href="/preference_set/{{user.id}}">Edit Preference List</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mid_head">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobi_center" style="text-align: center;padding-top: 5px;">
            	<h1 class="logo">NewsGator</h1>
            </div>
        </div>
    </div>
</section>
<nav>
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
                <div class="desk-none mob-block">
                    <div class="nav-icn">
                        <i class="fa fa-bars"></i> Navigation
                    </div>
                </div>
            	<div class="navigation">
                	<ul>
                        {% for id,domain_name in menu_items.items %}
                    	    <li><a href="/news_scrap/{{id}}">{{domain_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="main_cont">
	<div class="container">
    	<div class="row mobi_flex">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 flx_order">

            <div class="news_holder">
            	<h3 class="page_title">{{domain_name}}</h3>
                <div class="news-cards">
                    <!-- Card Loop -->
                    {% for id,value in main_news.items %}
                    <div class="product-card-container">
                        <div class="product-card">
                          <img src="{{value.2}}" alt="">
                          <div class="product-card__body">
                            <span class="tag">
                              <p>{{value.3}}</p>
                            </span>
                            <h1>{{value.0}}</h1>
                            
                            <a href="{{value.1}}" target="_blank" class="btn">
                                পুরো খবর পড়ুন
                            </a>
                      
                          </div>
                        </div>
                    </div>
                    <!-- Card Loop Ends -->
                    {% endfor %}

                    {% for id,value in sub_news.items %}
                    <div class="product-card-container">
                        <div class="product-card">
                          <img src="{{value.2}}" alt="">
                          <div class="product-card__body">
                            <span class="tag">
                              <p>{{value.3}}</p>
                            </span>
                            <h1>{{value.0}}</h1>
                            
                            <a href="{{value.1}}" target="_blank" class="btn">
                              পুরো খবর পড়ুন
                            </a>
                      
                          </div>
                        </div>
                    </div>
                    <!-- Card Loop Ends -->
                    {% endfor %}
                     
                      
                </div>
               
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 flx_order">

            <div class="tab_bg">
            	<h4 class="page_title">You May Like</h4>
            	<ul class="tags_pag">
                {% for x in recommendation %}
                	<li><a href="/news_scrap/{{x.id}}" target="_blank">{{x.domain_name}}</a></li> 
                {% endfor %}
                </ul>
            </div>
          </div>
        </div>
    </div>
</section>
<div class="modal-shade"></div>
<script>
    	$('.nav-icn').on('click',function(){
		  $('.navigation').addClass('navigation-show');
		  $('.modal-shade').addClass('modal-shade-show');
	})
	$('.modal-shade').on('click',function(){
		  $('.navigation').removeClass('navigation-show');
		  $('.modal-shade').removeClass('modal-shade-show');
	})
</script>

{% endblock content %}