{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'news_page_css.html' %}

<section class="top_head">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="mobi_center">
                	<ul>
                    	<li><a href="javascript:void(0)">Archives</a></li>
                        <li><a href="javascript:void(0)">Full width </a></li>
                        <li><a href="javascript:void(0)">shortcodes</a></li> 
                        <li><a href="javascript:void(0)">sitemap</a></li>
                        <li><a href="javascript:void(0)">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            	<div class="text-right realtives gapping">
                	<input type="text" class="accounts" placeholder="Search Here Visa News">
                    <button class="buttons prev">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mid_head">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mobi_center">
            	<h1>Mahi Web</h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mobi_center mobi_none">
            	<img src="https://placeimg.com/750/60/any/grayscale" class="responde_ad" title="ad space">
            </div>
        </div>
    </div>
</section>
<nav>
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
                <div class="desk-none mob-block">
                    <div class="nav-icn">
                        <i class="fa fa-bars"></i> Navigation
                    </div>
                </div>
            	<div class="navigation">
                	<ul>
                    	<li><a href="javascript:void(0)">HOME</a></li>
                        <li><a href="javascript:void(0)">NEWS</a></li>
                        <li><a href="javascript:void(0)">ECONOMY</a></li>
                        <li><a href="javascript:void(0)">SPORTS</a></li>
                        <li><a href="javascript:void(0)">SHOWS</a></li>
                        <li><a href="javascript:void(0)">CULTURE & ART</a></li>
                        <li><a href="javascript:void(0)">GOSSIPS</a></li>
                        <li><a href="javascript:void(0)">FASHION</a></li>
                        <li><a href="javascript:void(0)">HEALTH & BODY</a></li>
                        <li><a href="javascript:void(0)">TECHNOLOGY</a></li>
                        <li><a href="javascript:void(0)">SCIENCE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="main_cont">
	<div class="container">
    	<div class="row mobi_flex">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 flx_order">

            <div class="news_holder">
            	<h3 class="page_title">NEWS</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_right_none">
                        <span class="realtives full">
                            <img src="https://placeimg.com/263/158/any/grayscale">
                            <span class="icon_bot">15</span>
                        </span>
                        <div class="news_cont">
                            <a href="javascript:void(0)">North Korea Finds an Export: Epic Art</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_left_none">
                        <span class="realtives full">
                            <img src="https://placeimg.com/263/158/any/grayscale">
                            <span class="icon_bot">15</span>
                        </span>
                        <div class="news_cont">
                            <a href="javascript:void(0)">North Korea Finds an Export: Epic Art</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_left_none">
                        <span class="realtives full">
                            <img src="https://placeimg.com/263/158/any/grayscale">
                            <span class="icon_bot">15</span>
                        </span>
                        <div class="news_cont">
                            <a href="javascript:void(0)">North Korea Finds an Export: Epic Art</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_left_none">
                        <span class="realtives full">
                            <img src="https://placeimg.com/263/158/any/grayscale">
                            <span class="icon_bot">15</span>
                        </span>
                        <div class="news_cont">
                            <a href="javascript:void(0)">North Korea Finds an Export: Epic Art</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 flx_order">

            <div class="tab_bg">
            	<h4 class="page_title">You May Like</h4>
            	<ul class="tags_pag">
                	<li><a href="javascript:void(0)">Integer</a></li> 
                    <li><a href="javascript:void(0)">tincidunt</a></li>
                    <li><a href="javascript:void(0)">Cras </a></li>
                    <li><a href="javascript:void(0)">dapibus</a></li>
                    <li><a href="javascript:void(0)">Vivamus</a></li> 
                    <li><a href="javascript:void(0)">elementum </a></li>
                    <li><a href="javascript:void(0)">semper </a></li>
                    <li><a href="javascript:void(0)">nisi</a></li>
                    <li><a href="javascript:void(0)">Aenean</a></li>
                    <li><a href="javascript:void(0)">vulputate</a></li> 
                    <li><a href="javascript:void(0)">eleifend</a></li> 
                    <li><a href="javascript:void(0)">tellus</a></li>
                    <li><a href="javascript:void(0)">Aenean</a></li> 
                    <li><a href="javascript:void(0)">leo</a></li>
                    <li><a href="javascript:void(0)">ligula</a></li>
                    <li><a href="javascript:void(0)">porttitor</a></li>
                    <li><a href="javascript:void(0)">eu</a></li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</section>
<div class="modal-shade"></div>

{% endblock content %}