<style type="text/css">
    .mainpage{
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        text-align: center;
    }
    .logo{
        text-align: center;
        font-size: 50px;
        margin: 0 auto;
        color: #00004d;
        padding-top: 30px;
    }
    .funtext{
        color: #fff;
        font-size: 30px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .all_news_buttons{
        margin: 0 auto;
        width: 100%;
        padding-top: 30px;
    }

    .news_buttons{
        margin: 0 auto;
        padding-top: 10px;
        height: auto;
    }



</style>