<style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
    .mainpage{
        height: 100vh;
        width: 100vw;
        background-color: #3391f0;
        text-align: center;
    }
    .logo{
        text-align: center;
        font-size: 50px;
        margin: 0 auto;
        color: #ffffff;
        padding-top: 30px;
    }
    .funtext{
        color: #fff;
        font-size: 30px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .all_news_buttons{
        margin: 0 auto;
        width: 100%;
        padding-top: 30px;
    }

    .news_buttons{
        margin: 0 auto;
        padding-top: 10px;
        height: auto;
    }



</style>